@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

$blue:#29d9d5;
$black:#111;
$white:#fff;
$light-color:rgb(172, 169, 169);
$bg-color:#222;
$black-bg:rgba(17,17,17,0.7);
$border:.2rem solid $blue;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $black;
    }
    &::-webkit-scrollbar-thumb{
        background: $blue;
    }
}

body{
    background: $black;
    overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

    .navbar a{
        font-size: 1.7rem;
        color: $light-color;
        display: inline-block;
        margin: 0 1rem;

        &:hover{
            color: $blue;
        }
    }
}

.logo{
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;
    i{
        color: $blue;
        margin-right: 1rem;
    }
}

.btn{
    // margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: $blue;
    border: $border;
    border-radius: 5rem;
    cursor: pointer;
    background: none;

    &:hover{
        background: $blue;
        color: $black-bg;
    }
}

#menu-btn{
    font-size: 2.5rem;
    color: $white;
    cursor: pointer;
    display: none;
}

.home{
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background:linear-gradient($black-bg, $black-bg), url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    .content{
        text-align: center;
        span{
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke: .1rem $white;
            font-size: 4vw;
            display: block;
        }

        h3{
            font-size: 6vw;
            color: $white;
        }

        p{
            max-width: 60rem;
            margin: 1rem auto;
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2;
        }
    }
}

.bookForm{
    width: 80%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: $bg-color;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17,17,17,0.3);
    padding: 3rem 2rem;

    form{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 1.3rem;

        .inputBox{
            flex: 1 1 20rem;

            span{
                font-size: 1.4rem;
                color: $light-color;
            }
            input{
                width: 100%;
                padding: 1.2rem 1.4rem;
                border-radius: 5rem;
                border: $border;
                font-size: 1.6rem;
                color: $light-color;
                text-transform: none;
                background: none;
                margin-top: 1rem;
            }
        }

        .btn{
            flex: 1 1 20rem;
        }
    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .video-container{
        flex: 1 1 42rem;

        video{
            border-radius: 1rem;
            width: 100%;
        }

        .controls{
            text-align: center;
            padding: 2rem 0;

            span{
                display: inline-block;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                background: $white;
                cursor: pointer;
                margin: .7rem;

                &:hover{
                    background: $blue;
                }
            }
        }
    }

    .content{
        flex: 1 1 42rem;
        margin-bottom: 5rem;

        span{
            color: $blue;
            font-size: 2rem;
        }

        h3{
            color: $white;
            font-size: 4rem;
            margin-top: .5rem;
        }

        p{
            padding: 1rem 0;
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2;
        }
    }
}

.heading{
    text-align: center;
    margin-bottom: 2rem;

    span{
        color: $blue;
        font-size: 2rem;
    }
    h1{
        font-size: 4rem;
        color: $white;
    }
}

.destination .box-container{
    @include grid(27rem);

    .box{
        border-radius: 1rem;
        overflow: hidden;
        background: $bg-color;

        &:hover img{
            transform: scale(1.1);
        }

        .iamge{
            height: 20rem;
            overflow: hidden;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content{
            padding: 2rem;
            text-align: center;
            h3{
                font-size: 2rem;
                color: $white;
            }
            p{
                padding: 1rem 0;
                font-size: 1.4rem;
                color: $light-color;
                line-height: 2;
            }
            a{
                font-size: 1.7rem;
                color: $blue;
                &:hover i{
                    padding-right: 1rem;
                }
                i{
                    padding-right: .5rem;
                }
            }
        }
    }
}

.services .box-container{
    @include grid(32rem);

    .box{
        background: $bg-color;
        border-radius: 1rem;
        padding: 3rem;
        text-align: center;
        border: .2rem solid $black-bg;
        &:hover{
            border: $border;
        }

        i{
            font-size: 4rem;
            color: $blue;
            margin-bottom: 2rem;
        }
        h3{
            font-size: 2rem;
            color: $white;
        }
        p{
            padding: 1rem 0;
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2;
        }
    }
}

.gallery .box-container{
    columns: 3 25rem;
    column-gap: 1.5rem;

    .box{
        margin-bottom: 1rem;
        break-inside: avoid;

        img{
            width: 100%;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
        span{
            font-size: 1.4rem;
            color: $light-color;
        }
        h3{
            margin-top: .5rem;
            font-size: 2rem;
            color: $white;
        }
    }
}






// Media Query

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header{
        .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $bg-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            a{
                margin: 2rem;
                font-size: 2rem;
                display: block;
            }
        }
    }

    .home{
        margin-top: 10rem;
        .content{
            span{
                font-size: 8vw;
            }
            h3{
                font-size: 9vw;
            }
        }
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    .about .content h3{
        font-size: 3.5rem;
    }
}